[submodule "deep-learning-from-scratch"]
	path = machine_learning/deep-learning-from-scratch
	url = https://github.com/oreilly-japan/deep-learning-from-scratch.git
[submodule "risc-v/mnist/libfixmath"]
	path = risc-v/mnist/libfixmath
	url = https://github.com/msyksphinz/libfixmath.git
[submodule "program/DNN"]
	path = program/DNN
	url = https://github.com/takezo5096/DNN.git
[submodule "program/cuMat"]
	path = program/cuMat
	url = https://github.com/takezo5096/cuMat.git
[submodule "program/estimate-cnn"]
	path = program/estimate-cnn
	url = https://github.com/tom01h/estimate-cnn.git
[submodule "machine_learning/tiny-dnn"]
	path = machine_learning/tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn.git
[submodule "program/linux-in-practice"]
	path = program/linux-in-practice
	url = https://github.com/satoru-takeuchi/linux-in-practice.git
[submodule "program/deep-learning-from-scratch"]
	path = program/deep-learning-from-scratch
	url = https://github.com/oreilly-japan/deep-learning-from-scratch.git
[submodule "program/deep-learning-from-scratch-msyksphinz"]
	path = program/deep-learning-from-scratch-msyksphinz
	url = https://github.com/msyksphinz/deep-learning-from-scratch.git
